/* Main Pages / Global Stuff */
body {
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat:no-repeat;
}

.navbar {
    padding: 0 !important;
    font-size: 130% !important;
    transition-timing-function: ease-in;
    transition: 0.5s
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-brand > img {
    padding: 7px 14px;
}

.navbar a {
    color: #F5F5F5 !important;
    margin-left:10px;
    margin-right:10px;
}

.navbar a:hover {
    color: #FF9F1C !important;
    transition: 0.5s;
}

.nav-item:hover .dropdown-menu {
    display: block !important
}

.dropdown-menu[data-bs-popper] {
    top: 90% !important;
    margin-top: 0 !important;
    padding-left: 0px;
    padding-right: 20px;
}

.dropdown-item {
    font-size: 120% !important;
}

.btn{
    font-size: 130% !important;
}

.bigBoyButton {
    font-size: 200% !important;
}

.btn-purple {
    color: #FFF !important;
    background-color: #513A77 !important;
    border-color: #513A77 !important;
}

    .btn-purple:hover {
        color: #FF9F1C !important;
        background-color: #312347 !important;
        border-color: #312347 !important;
    }


.btn-outline-purple {
    color: #513A77 !important;
    border-color: #513A77 !important;
}

    .btn-outline-purple:hover {
        color: #FF9F1C !important;
        background-color: #513A77 !important;
        border-color: #513A77 !important
    }

    .btn-check:focus + .btn-outline-purple,
    .btn-outline-purple:focus {
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.5) !important
    }

    .btn-check:active + .btn-outline-purple,
    .btn-check:checked + .btn-outline-purple,
    .btn-outline-purple.active,
    .btn-outline-purple.dropdown-toggle.show,
    .btn-outline-purple:active {
        color: #FF9F1C !important;
        background-color: #513A77 !important;
        border-color: #513A77 !important
    }

        .btn-check:active + .btn-outline-purple:focus,
        .btn-check:checked + .btn-outline-purple:focus,
        .btn-outline-purple.active:focus,
        .btn-outline-purple.dropdown-toggle.show:focus,
        .btn-outline-purple:active:focus {
            box-shadow: 0 0 0 .25rem rgba(13,110,253,.5) !important
        }

    .btn-outline-purple.disabled,
    .btn-outline-purple:disabled {
        color: #513A77 !important;
        background-color: transparent !important
    }

.footer {
    color: #000;
    background-color: #FF9F1C;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100% !important;
    font-size:130%;
}

.footer a {
    text-decoration:none;
}

/* Home Page */
.twitterBackground {
    background-color: #89CFF0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    font-size: xx-large;
    flex-direction:column;
}

/* Error Page */
.errorPage {
    background-color: #FFF;
    display:flex;
    justify-content:center;
    font-size:1.5em;
    max-width: 100% !important;
}

/*Landing Pages*/

.landingContainer {
    display: flex;
    height: calc(100vh - 147.8px) !important;
    background-color: white;
    min-width: 100%;
}

.landingContent {
    position:absolute;
    right:0;
    height: calc(100vh - 147.8px) !important;
    min-width: 85%;
    padding:0 !important;
    margin:0 !important;
}

.sidebar {
    background-color: #513A77 !important;
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    width: 15%;
    height: calc(100vh - 147.8px) !important;
    border-top: solid 1px black;
}

.sidebarHeaderContainer {
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align:center;
    height: 10%;
}

.sidebarHeader {
    color: #FF9F1C;
    top:20px;
    position:absolute;
    text-decoration: underline;
    text-align: center;
    font-size: 175%;
}

.sidebarContentContainer {
    left: 0;
    display: flex;
    position:absolute;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
    bottom:0;
}

    .sidebarContentContainer a {
        color: #FFF !important;
        text-decoration: none !important;
        text-align: center !important;
        font-size: 140% !important;
    }

        .sidebarContentContainer a:hover {
            color: #FF9F1C !important;
        }

        .sidebarContentContainer a.active {
            background-color: black!important;
            border: 2px solid #FF9F1C !important;
            border-radius: 15px !important;
        }


#sp {
    min-width: 100%;
    overflow-y: hidden;
    height: calc(100vh - 148.8px) !important;
    top: 76px;
    right: 0;
}

.slidingPanelContent {
    padding: 0;
    height: calc(100vh - 148.8px) !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    position: absolute;
    top: 76px;
    right: 0;
}

.slide-pane .slide-pane__title {
    font-size:200%;
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: bold !important;
    min-width:90%;
}

.slidingPanelOverlay {
    background-color: rgba(0, 0, 0, 0) !important;
    height: calc(100vh - 147.8px) !important;
}

/* Party List*/
.modal-dialog{
    max-width:90% !important;
}

/* Checklist */
.downloadInfographic {
    margin-top: -15px;
    right: 0;
    position: absolute;
    text-align: right;
    font-size: 150%;
}

    .downloadInfographic p {
        border: 1px solid #cecece;
        background-color: #eaeaea;
        box-shadow: 5px 5px 5px #888888;
        padding: 5px 10px;
        float: right;
        display: block;
    }

.voteByMail {
    color: #8B2841;
}

.voteByMail:hover {
    color: #333333;
}

#checkbox {
    border: solid 4px black;
    background-color: white;
    width: 1%;
    margin-left: 10px;
    margin-right:20px;
    cursor:pointer;
}

    #checkbox:hover {
        background-color: orange;
    }

    #checkbox:active {
        background-color: green;
    }

    #checkbox p {
        font-size: 200%;
        font-weight:bold;
        color:green;
        margin-bottom: 0;
        margin-left: -10px;
    }

/* FAQ */
.toc, .toccolours {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 55%
}

.toc {
    display: table;
    padding: 7px
}

    .toc h2 {
        display: inline;
        border: 0;
        padding: 0;
        font-size: 80%;
        font-weight: bold
    }

    .toc .toctitle {
        text-align: center
    }

    .toc ul {
        list-style: none;
        margin: 0.3em 0;
        padding: 0;
        text-align: left
    }

        .toc ul ul {
            margin: 0 0 0 2em
        }

table.toc {
    border-collapse: collapse
}

    table.toc td {
        padding: 0
    }

.tocnumber, .toctext {
    display: table-cell;
    text-decoration: none;
}

.tocnumber {
    color: #202122;
    padding-left: 0;
    padding-right: 0.5em
}

.faqContainer{
    font-size:130% !important;
}

.faqContainer h5 {
    font-size: 120% !important;
}

.faqContainer h6 {
    font-size: 100% !important;
}

.accordion-button {
    font-size: 70% !important;
}

/* About, Security, and Contact Pages*/
.ascContainer {
    background-color: white;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.ecContactContainer p{
    margin-bottom: 0;
}

