/* Main Pages / Global Stuff */
body {
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat:no-repeat;
}

.navbar {
    padding: 0 !important;
    font-size: 1.2vw !important;
    transition-timing-function: ease-in;
    transition: 0.5s
}

.navbar a {
    color: #F5F5F5 !important;
    margin-left:10px;
    margin-right:10px;
}

.navbar a:hover {
    color: #a173ec !important;
    transition: 0.5s;
}

.nav-item:hover .dropdown-menu {
    display: block !important
}

.voteButton {
    font-weight: 600;
    border: 2px solid #a173ec !important;
    border-radius: 15px;
}

    .voteButton:hover {
        background-color: #240653 !important;
    }

.dropdown-menu[data-bs-popper] {
    top: 90% !important;
    margin-top: 0 !important;
    padding-left: 0px;
    padding-right: 20px;
}

.dropdown-item {
    font-size: 1.1vw !important;
}

.form-control:focus, .form-select:focus, .input-group-btn:focus {
    border-color: #513A77 !important;
    box-shadow: 0 0 0 0.25rem rgba(127, 17, 224, 0.25) !important;
}

.required {
    color: #C00000;
    font-size: 0.8vw;
    font-weight: bold;
}

.btn{
    font-size: 1.3vw !important;
}

.btn-purple {
    color: #FFF !important;
    background-color: #513A77 !important;
    border-color: #513A77 !important;
}

    .btn-purple:hover {
        color: #a173ec !important;
        background-color: #312347 !important;
        border-color: #312347 !important;
    }


.btn-outline-purple {
    color: #513A77 !important;
    border-color: #513A77 !important;
}

    .btn-outline-purple:hover {
        color: #a173ec !important;
        background-color: #513A77 !important;
        border-color: #513A77 !important
    }

    .btn-check:focus + .btn-outline-purple,
    .btn-outline-purple:focus {
        box-shadow: 0 0 0 0.25rem rgba(127, 17, 224, 0.25) !important;
    }

    .btn-check:active + .btn-outline-purple,
    .btn-check:checked + .btn-outline-purple,
    .btn-outline-purple.active,
    .btn-outline-purple.dropdown-toggle.show,
    .btn-outline-purple:active {
        color: #a173ec !important;
        background-color: #513A77 !important;
        border-color: #513A77 !important
    }

        .btn-check:active + .btn-outline-purple:focus,
        .btn-check:checked + .btn-outline-purple:focus,
        .btn-outline-purple.active:focus,
        .btn-outline-purple.dropdown-toggle.show:focus,
        .btn-outline-purple:active:focus {
            box-shadow: 0 0 0 0.25rem rgba(127, 17, 224, 0.25) !important;
        }

    .btn-outline-purple.disabled,
    .btn-outline-purple:disabled {
        color: #513A77 !important;
        background-color: transparent !important
    }

.footer {
    color: #000;
    background-color: #666;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100% !important;
    min-height: 75px !important;
    font-size:1.1vw;
}

.footer a {
    color: #fff;
    text-decoration:none;
}

.footer a:hover{
    color: #a173ec;
}

[data-tip] {
    position: relative;
}

    [data-tip]:before {
        content: '';
        display: none;
        border: 5px solid #1a1a1a;
        border-top-color: #1a1a1a;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        position: absolute;
        top: -10px;
        left: 50%;
    }

    [data-tip]:after {
        display: none;
        content: attr(data-tip);
        position: absolute;
        padding: 15px 8px;
        background: #1a1a1a;
        color: #fff;
        z-index: 1000;
        font-size: 0.8em;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        white-space: normal;
        text-align: center;
        text-decoration: none;
    }

    [data-tip]:hover:before,
    [data-tip]:hover:after {
        display: block;
    }

.tip-above[data-tip]:after {
    top: -60px;
    left: -10px;
    height: 50px;
    width:250px;
}


/* Home Page */
.twitterBackground {
    background-color: #89CFF0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    font-size: 1.6vw;
    flex-direction:column;
}

/* Error Page */
.errorPage {
    max-width: 100% !important;
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

/*Landing Pages*/

.landingContainer {
    display: flex;
    height: calc(100vh - 150px) !important;
    background-color: white;
    min-width: 100%;
}

.landingContent {
    position:absolute;
    right:0;
    height: calc(100vh - 150px) !important;
    min-width: 85%;
    padding:0 !important;
    margin:0 !important;
}

.sidebar {
    background-color: #513A77 !important;
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    width: 15%;
    height: calc(100vh - 150px) !important;
    border-top: solid 1px black;
}

.sidebarHeaderContainer {
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align:center;
    height: 10%;
}

.sidebarHeader {
    color: #fff;
    top:20px;
    position:absolute;
    text-decoration: underline;
    text-align: center;
    font-size: 1.4vw;
}

.sidebarContentContainer {
    left: 0;
    display: flex;
    position:absolute;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90%;
    bottom:0;
}

    .sidebarContentContainer a {
        color: #FFF !important;
        text-decoration: none !important;
        text-align: center !important;
        font-size: 1.2vw !important;
        border-radius: 15px !important;
    }

        .sidebarContentContainer a:hover {
            color: #a173ec !important;
        }

        .sidebarContentContainer a.active {
            background-color: #240653!important;
            border: 2px solid #a173ec !important;
            border-radius: 15px !important;
        }


#sp {
    min-width: 100%;
    overflow-y: hidden;
    height: calc(100vh - 151px) !important;
    top: 76px;
    right: 0;
}

.slidingPanelContent {
    padding: 0;
    height: calc(100vh - 151px) !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    position: absolute;
    top: 76px;
    right: 0;
}

.slide-pane .slide-pane__title {
    font-size:1.7vw;
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: bold !important;
    min-width:90%;
}

.slidingPanelOverlay {
    background-color: rgba(0, 0, 0, 0) !important;
    height: calc(100vh - 151px) !important;
}

/* Party List*/
.modal-dialog{
    max-width:90% !important;
}

/* Checklist (And checkboxes for voting) */
.downloadInfographic {
    margin-top: -15px;
    right: 0;
    position: absolute;
    text-align: right;
    font-size: 1.25vw;
}

    .downloadInfographic p {
        border: 1px solid #cecece;
        background-color: #eaeaea;
        box-shadow: 5px 5px 5px #888888;
        padding: 5px 10px;
        float: right;
        display: block;
    }

.voteByMail {
    color: #8B2841;
}

.voteByMail:hover {
    color: #333333;
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

    .checkbox label,
    .radio label {
        min-height: 23px;
        padding-left: 30px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer
    }

:not(form) .provisional.gc-checklist ul {
    padding-left: 0;
}


:not(form) .provisional.gc-checklist label {
    cursor: pointer;
    display: block;
    font-size: 1.3vw;
}

:not(form) .provisional.gc-checklist input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    :not(form) .provisional.gc-checklist input[type="checkbox"][disabled] + label {
        opacity: .5;
    }

    :not(form) .provisional.gc-checklist input[type="checkbox"] + label {
        display: inline-block;
        line-height: 2;
        margin-left: 36px;
        width: auto;
    }

        :not(form) .provisional.gc-checklist input[type="checkbox"] + label::before {
            -webkit-box-shadow: 0 0 0 2px #000 !important;
            box-shadow: 0 0 0 2px #000 !important;
            content: "";
            display: inline-block;
            height: 42px;
            left: 0;
            position: absolute;
            top: 2px;
            width: 42px;
        }

    :not(form) .provisional.gc-checklist input[type="checkbox"]:not(:checked) + label:hover::before {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#bcb8bc), color-stop(50%, #eeedee));
        background-image: linear-gradient(to bottom, #bcb8bc, #eeedee 50%);
    }

    :not(form) .provisional.gc-checklist input[type="checkbox"]:checked + label::before {
        background-color: #318000 !important;
        border: none;
    }

    :not(form) .provisional.gc-checklist input[type="checkbox"]:checked + label::after {
        border-color: #FFF;
        border-style: solid;
        border-width: 0 5px 5px 0;
        content: "";
        display: inline-block;
        height: 30px;
        left: 15px;
        position: absolute;
        top: 6px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 13px;
    }


/* Check Registration */
.registrationAccordion .accordion-button {
    padding: 0.5rem 1.25rem !important;
}

/* FAQ */
.faqContainer{
    font-size:1vw !important;
}

.faqContainer h5 {
    font-size: 1.2vw !important;
}

.faqContainer h6 {
    font-size: 1vw !important;
}

.accordion-item {
    border-color: #513A77 !important;
}

.accordion-button:not(.collapsed) {
    color:white !important;
    background-color: #513A77 !important
}
.accordion-button:focus {
    border-color: #513A77 !important;
    box-shadow: 0 0 0 0.25rem rgba(127, 17, 224, 0.25) !important;
}

.accordion-button {
    font-size: 1.1vw !important;
}

/* About, Security, and Contact Pages*/
.ascContainer {
    background-color: white;
    min-width: 100% !important;
    min-height: 100% !important;
    text-align: center;
}

.ecContactContainer p{
    margin-bottom: 0;
}

/* Vote */
.candidateRow {
    cursor: pointer;
}

/* Carousel */
.carousel {
    opacity: 1.0;
    z-index: -1;
    max-height: 100vh !important; 
    min-width: 100% !important;
    text-align: center;  
    padding: 0;
    margin: 0;
}

.carousel-item {
    max-height: 100vh !important; 
    min-width: 100% !important;
}

.carousel-item > img {
    max-height: 100vh !important; 
    min-width: 100% !important;
}
