/* Main Pages / Global Stuff */
body {
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat:no-repeat;
}

.navbar {
    background-color: #513A77 !important;
    padding: 0 !important;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-brand > img {
    padding: 7px 14px;
}

.navbar a {
    color: #F5F5F5 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.navbar a:hover {
    color: #FF9F1C !important;
    transition: 0.5s;
}

.nav-item:hover .dropdown-menu {
    display: block !important
}

.dropdown-item{
    width: 94% !important;
}

.btn-purple {
    color: #FFF !important;
    background-color: #513A77 !important;
    border-color: #513A77 !important;
}

    .btn-purple:hover {
        color: #FF9F1C !important;
        background-color: #312347 !important;
        border-color: #312347 !important;
    }


.btn-outline-purple {
    color: #513A77 !important;
    border-color: #513A77 !important
}

    .btn-outline-purple:hover {
        color: #FF9F1C !important;
        background-color: #513A77 !important;
        border-color: #513A77 !important
    }

    .btn-check:focus + .btn-outline-purple,
    .btn-outline-purple:focus {
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.5) !important
    }

    .btn-check:active + .btn-outline-purple,
    .btn-check:checked + .btn-outline-purple,
    .btn-outline-purple.active,
    .btn-outline-purple.dropdown-toggle.show,
    .btn-outline-purple:active {
        color: #FF9F1C !important;
        background-color: #513A77 !important;
        border-color: #513A77 !important
    }

        .btn-check:active + .btn-outline-purple:focus,
        .btn-check:checked + .btn-outline-purple:focus,
        .btn-outline-purple.active:focus,
        .btn-outline-purple.dropdown-toggle.show:focus,
        .btn-outline-purple:active:focus {
            box-shadow: 0 0 0 .25rem rgba(13,110,253,.5) !important
        }

    .btn-outline-purple.disabled,
    .btn-outline-purple:disabled {
        color: #513A77 !important;
        background-color: transparent !important
    }

.footer {
    color: #000;
    background-color: #FF9F1C;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100% !important;
}

.footer a {
    text-decoration:none;
}

/* Home Page */
.twitterBackground {
    background-color: #89CFF0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    flex-direction:column;
}

/* Error Page */
.errorPage {
    background-color: #FFF;
    display:flex;
    justify-content:center;
    font-size:1.5em;
    max-width: 100% !important;
}

.errorImage{
    width:86%;
}

/*Landing Pages*/

.landingContainer {
    background: #191919;
    min-width: 100%;
    font-family: Montserrat, sans-serif;
}

.sidebar {
    background-color: #513A77 !important;
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 12%;
    height: calc(100vh - 56px - 61px) !important;
    border-top: solid 1px black;
}

.sidebarHeader {
    color: #FF9F1C;
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
}

    .sidebar a:hover {
        color: #FF9F1C !important;
    }

.landingContainer {
    display: flex;
    height: calc(100vh - 56px - 61px) !important;
    background-color: black;
    min-width: 100%;
}
.landingContent {
    display:flex;
    height: calc(100vh - 56px - 61px) !important;
    background-color: black;
    min-width:100%;
}

.slidingPanelContent {
    padding: 0;
    height: calc(100vh - 56px - 62px) !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    position: absolute;
    top: 62px;
    right: 0;
}

.slide-pane .slide-pane__title {
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: bold !important;
    font-size:28px;
    min-width:90%;
}

.slidingPanelOverlay {
    background-color: rgba(0, 0, 0, 0) !important;
    height: calc(100vh - 56px - 62px) !important;
}

/* Checklist */
.voteByMail {
    color: #8B2841;
}

.voteByMail:hover {
    color: #333333;
}

/* About, Security, and Contact Pages*/
.ascContainer{
    background-color:white;
    min-width:100%;
    min-height:100%;
    text-align:center;
}

